* {
    box-sizing: border-box;
}


/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.862);
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
    
}
header a {
    text-decoration: none;
    color: white;
    font-family: 🦞 ;
    
  }
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
  }
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }


/*---- Upcoming Shows Section Styling -----*/




/* Search Form Styles Start */
.search {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}



/*---- Artist Music/Info Section Styling ----*/
