* {
    box-sizing: border-box;
}


/* apply styles to <header> */
header {

    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.862);
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
    
}
header a {
    text-decoration: none;
    color: white;
    font-family: 🦞 ;
    
  }
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
  }
header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 18px;
  }


/*---- Upcoming Shows Section Styling -----*/

.upcomingshows-container {
    padding: 60px;
    margin: 10px 0px 10px 5px;
}


/* Search Form Styles Start */
.search {

    font-size: 20px;
    padding: 60px;
    height: 200px;
    background-size: cover;
    background-position: left;
    background-color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.searchbtn {
    color: black;
    background-color: white;
    padding: 10px 20px;

    font-size: 20px;
    border: none;
    margin: 0 10px;
}

.searchbtn:hover {
    color: rgb(205, 228, 245);
    background-color: rgb(119, 119, 119);
    border: none;
}

.input {
    padding: 5px;

}



/*---- Artist Music/Info Section Styling ----*/
